* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*first*/
.one {
    background-color: white;
}

.topic {
    display: flex;
    margin-left: 20px;
    margin-right: 44px;
    margin-top: 5px;
}

.head {
    display: flex;
    margin-left: auto;
    gap: 25px;
    margin-top: 40px;
    padding-top: -4px;
}

/*second*/

.two {
    text-align: center;
    padding-top: 100px;
}

.two{
    background-image: url("./images/centreee.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.two h1 {
    font-size: 90px;
}

.thought {
    padding: 30px;
    border-radius: 40px;
    font-style: oblique;
    font-size: 30px;
    font-weight: 900;
    background-color: #002658;
    color: white;
    width: fit-content;
    /*margin-left: 360px;*/
    margin-top: 30px;
    margin: auto;
    margin-bottom: 70px;
    padding-top: 20px;
}

.dis p {
    font-size: 38px;
    border-radius: 70px;
    height: auto;
    width: auto;
    width: fit-content;
   /* margin-left: 450px*/;
   margin: auto;
    color: black;

}

/*third*/


.three{
    display: flex;
    gap: 60px;
    margin-top: 130px;
}

.threee{
    margin-left: 100px;
}

.threeee{
    margin-right: 100px;
    margin-left: 50px;
}
.threeee h1{
    text-align: center;
    color:#002658;
    margin-top:-10px;
}
.threeee p{
    padding-top: 8px;
    line-height: 28px; 
    font-style: oblique;
}


/*fourth*/

.four {
    padding-top: 100px;
}

.four h1{
    text-align: center; 
    color:#002658; 
}

.jpg {
    margin-left: 50px;
    margin-right: 50px;

}

.jpg2 img,
.jpg3 img {
    border: 10px solid white;
    border-radius: 30px;
}

.jpg2 img:hover,
.jpg3 img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.jpg2 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 40px;

}

.jpg3 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 20px;
}


/*
.images {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 100px;
}

.img {
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}*/


/*map*/

.map {
    text-align: center;
    /*margin-left: 50px;
    margin-right: 50px;*/
    font-size: large;
}

.map h1{
    padding-top: 20px;
    color:#002658;
}

.mapp {
    padding-top: 90px;

}


/*why*/
.aboutt {
    padding: 80px 10%;
    text-align: center;
}

.aboutt h2 {
    margin-bottom: 40px;
    font-size: 40px;
    padding-top: 30px;
}

.aboutt-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.card {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}


/*.why {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 30px;
}*/


/*footer*/

.foot {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #002658;
    color: white;
}

.foot1 {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.section1 {
    gap: 15px;
}

.section1 img {
    border: 1px solid white;
    border-radius: 100px;
    margin-left: 12px;

}

.section1 img {
    transition: 0.9s;
}

.section1 img:hover {
    transform: scale(0.9);
}

.section1 p {
    padding-top: 12px;
    width: 200px;
    line-height: 1.8;


}
.section2 ul {
    padding-top: 40px;
    list-style: none;
    cursor: pointer;
}

.section2 ul a {
    text-decoration: none;
    line-height: 1.9;
    color: white;
}

.secc {
    padding-top: 10px;
    line-height: 1.9;
    padding-top: 40px;
}

.section1 h2,
.section2 h3,
.section3 h3,
.section4 h3 {
    color: white;
    text-decoration: underline;
    padding-top: 30px;
}

.se4 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: fit-content;
    margin-left: 26px;
    transition: 0.6s;
    padding-top: 40px;
}

.se4 img {

    border: 2px solid black;
    border-radius: 80px;
    transition: 0.8s;

}

.se4 img:hover {
    transform: scale(1.2);
}


/*memories*/

.memories {
    width: 100%;
    padding: 120px 50px;
    text-align: center;
}

.memories h1 {
    margin-bottom: 15px;
    color: #222;
    position: relative;
}

.memories p {
    max-width: 600px;
    margin: 0 auto 60px;
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    font-style: italic;
}

.memory-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.08);
}


.card h3 {
    padding: 15px;
    font-size: 20px;
    color: #002658;
    letter-spacing: 2px;
    text-transform: uppercase;
}




/*package*/

.cen2 {
    text-align: center;
    padding-top: 100px;
}

.cen2{
    background-image: url("./images/c2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.cen3 {
    text-align: center;
    padding-top: 100px;
}

.cen3{
    background-image: url("./images/c3.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



.packages {
    padding: 80px 10%;
    background: #f8f9fa;
    text-align: center;
}

.packages h1 {
    font-size: 40px;
    margin-bottom: 15px;
    color:#002658;
}

.para {
    color:darkgrey;
    margin-bottom: 50px;
    font-size: 18px;
}

.package {
    display: grid;
    /*grid-template-columns:repeat(auto-fit,minmax(280px,1fr));*/
    grid-template-columns: auto auto auto;
    gap: 30px;
    /*margin-left: 58px;*/
    margin-left: auto;
}

.box {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

img {
    transition: 0.5s;

}

img:hover {
    transform: scale(1.2);
}

.box h2 {
    margin-bottom: 15px;
    color: #333;
    font-style: oblique;
    padding-top: 9px;

}

.box p {
    margin: 10px 0;
    color: #333;
}

.box button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background-color:#002658;
    color:white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.box button:hover {
    transform: scale(1.05);
}






/*contact*/

.contact {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;
    padding-top: 90px;
    text-align: center;
}


.heading {
    text-align: center;
    padding-top: 40px;
}



.about {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: -35px;
    padding-top: 60px;
}

.box {
    width: 250px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
   /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);*/
    transition: all 0.4s ease;
}

.box:hover {
    transform: translateY(-10px);
   /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);*/
}

.box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.4s ease;


}

.box:hover img {
    transform: scale(1.08);
}


.box p {
    padding-top: 15px;
    font-size: 15px;
    color: black;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: lowercase;
    object-fit: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quotes{
    padding: 20px;
}
.quotes strong{
    text-transform: uppercase;
}


/*review*/
.reviews {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    gap: 50px;
   /* margin-left: 250px;
    margin-right: 250px;*/
    padding-top: 50px;
}

.secheading {
    padding-top: 100px;
    text-align: center;
}

.rew p{
    padding-top: 15px;
}


.rew {
    padding: 30px;
    border: 2px solid white;
    border-radius: 6px;
    transition: 1.2s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.rew:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.contactus{
    text-align: center;
    padding-top: 100px;
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 80px 100px;
    flex-wrap: wrap;
}

.con2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info1{
    width: 300px;
    height: 60px;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.info1 i{
    color:#002658;
    font-size: 22px;
}

.con3{
    flex: 1;
}


@media (min-width: 1400px) {
    .package {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {

    .three {
        flex-direction: column;
        text-align: center;
    }

    .threee,
    .threeee {
        margin: 0 40px;
    }

    .thought,
    .dis p {
        margin-left: auto;
        margin-right: auto;
    }

    .reviews {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 992px) {

    .head {
        gap: 15px;
        font-size: 14px;
    }

    .two h1 {
        font-size: 60px;
    }

    .thought {
        font-size: 22px;
        width: fit-content;
        margin: 30px auto;
    }

    .dis p {
        font-size: 28px;
        margin: auto;
        text-align: center;
    }

    .jpg2,
    .jpg3,
    .package {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .foot1 {
        flex-wrap: wrap;
        gap: 40px;
    }

    .reviews {
        grid-template-columns: 1fr;
        margin: 40px;
    }

    .contact {
        flex-direction: column;
        padding: 50px;
    }
}


@media (max-width: 768px) {

    .topic {
        flex-direction: column;
        align-items: center;
    }

    .head {
        margin: 20px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .two h1 {
        font-size: 45px;
    }

    .thought {
        font-size: 18px;
        padding: 15px;
    }

    .dis p {
        font-size: 22px;
    }

    .jpg2,
    .jpg3,
    .package {
        grid-template-columns: 1fr;
    }

    .jpg img,
    .jpg2 img,
    .jpg3 img {
        width: 100%;
        height: auto;
    }

    .foot1 {
        flex-direction: column;
        text-align: center;
    }

    .reviews {
        margin: 20px;
    }

    .contact {
        margin: 0;
        padding: 30px;
    }

    .info1 {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 480px) {

    .two h1 {
        font-size: 32px;
    }

    .thought {
        font-size: 15px;
        width: 90%;
    }

    .dis p {
        font-size: 18px;
    }

    .threee img {
        width: 100%;
        height: auto;
    }

    .aboutt h2,
    .packages h1,
    .four h1,
    .map h1 {
        font-size: 28px;
    }

    .card,
    .box {
        width: 100%;
    }

    .contact {
        padding: 20px;
    }
}

@media (max-width: 290px) {

    .two h1 {
        font-size: 24px;
    }

    .thought {
        font-size: 12px;
        padding: 10px;
    }

    .dis p {
        font-size: 14px;
    }

    .head {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .info1 {
        width: 100%;
        font-size: 14px;
    }

    .section1 img,
    .se4 img {
        width: 40px;
        height: 40px;
    }

    .card,
    .box {
        width: 100%;
    }
}


















 